<section id="about_container">

<p>Hi, I'm Brennan.</p>

<p>I grew up in Hawai'i, on the island of O'ahu.</p>

<p>I'm eighteen years old.</p> 
	
<p>I go to <a href="http://bhs.berkeleyschools.net/">Berkeley High</a>.</p>

<p>This blog is based off of <a href="http://cloudhead.io/toto">Toto</a>. It's really awesome, you should check it out.</p>

</section>