<section id="about_container">

<p>Hi, I'm Nico.</p>

<p>I grew up in Hawai'i, on the island of O'ahu.</p>

<p>I'm nineteen now.</p> 
	
<p>Blah Blah Blah</p>

<p>This blog is based off of <a href="http://cloudhead.io/toto">Toto</a>. It's really awesome, you should check it out.</p>

</section>